<div class="logo-daohang">
        <nav class="navbar navbar-default" id="navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" id="logo-tu"></a>
                    <a class="glyphicon glyphicon-pencil"></a>
                    <a class="denglu">
                        <div class="glyphicon glyphicon-log-in"></div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="top-daohang collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">头条</a></li>
                        <li><a href="#">问答</a></li>
                        <li><a href="#">专栏</a></li>
                        <li><a href="#">讲坛</a></li>
                        <li><a href="#">职位</a></li>
                        <li><a href="#">活动</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" id="navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right" id="denglu">
                        <li><a class="denglu-a" href="#">注册｜登录</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="zhuangtai-kuang">
                        <div class="jia">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    <b>+</b>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">发头条</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">提问题</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">写文章</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">记笔记</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">草稿箱</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tixing">
                            <div class="dropdown dropdown1">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                  <div class="glyphicon glyphicon-bell"></div>
                              </button>
                                <ul class="dropdown-yemian dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">

                                    <ul class="tixing-nav nav nav-tabs">
                                        <li role="presentation">
                                            <a href="#">
                                                <div class="glyphicon glyphicon-bullhorn"></div>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#">
                                                <div class="glyphicon glyphicon-thumbs-up"></div>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#">
                                                <div class="glyphicon glyphicon-user"></div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="text-zhanwei text-laba">内容1</div>
                                    <div class="text-zhanwei text-zan">内容2</div>
                                    <div class="text-zhanwei text-ren">内容3</div>
                                    <li role="presentation" class="divider"></li>
                                    <li class="tixing-more" role="presentation"><a role="menuitem" tabindex="-1" href="#">查看全部>></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sixing">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                  <div class="glyphicon glyphicon-envelope"></div>
                              </button>
                                <ul class="dropdown-menu dropdown-menu-sixing" role="menu" aria-labelledby="dropdownMenuDivider">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">最近的私信</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <div class="text-zhanwei text-sixing">
                                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">您暂时没有私信</a></li>
                                    </div>
                                    <li role="presentation" class="divider"></li>
                                    <li class="tixing-more" role="presentation"><a role="menuitem" tabindex="-1" href="#">查看全部>></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="touxiang">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                            </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的主页</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的档案</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">我的资产</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">账号设置</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">返回主页</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">建议反馈</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">用户申述</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">发头条</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">提问题</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">写文章</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">记笔记</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">草稿箱</a></li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div class="biaoqian-daohang-kuang">
        <div class="biaoqian-daohang">
            <a class="glyphicon glyphicon-home"></a>
            <div class="diandiandian"><a href="#">...</a></div>
            <div class="daohang-hidden">
                <ul class="daohang1 nav nav-pills">
                    <li role="presentation" class="active"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </div>
        </div>
    </div>
