<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>回答页面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style media="screen">
        * {
            margin: 0px;
            padding: 0px;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .clearfix::after,
        .clearfix::before {
            content: "";
            height: 0;
            display: block;
            visibility: hidden;
            line-height: 0;
            clear: both;
        }

        .clearfix {
            zoom: 1;
        }

        .pbname {
            width: 100%;
            height: 110px;
            background-color: #f6f6f6;
        }

        .pbname .container #wen {
            height: 80px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        /*.pbname .container .row #wen .title{
            width: 28px;
            height: 28px;
            display: inline-block;
            font-size: 16px;
            border-radius: 50%;
            float: left;
            color: #333;
            border: 1px solid #5fa70f;
        }*/

        #asd {
            display: inline-block;
            width: 28px;
            height: 28px;
            border: 1px solid #5fa70f;
            text-align: center;
            line-height: 28px;
            border-radius: 50%;
            color: #5fa70f;
            float: left;
        }

        #wen .wenti {
            /*width: 450px;*/
            height: 80px;
            margin-top: -20px;
            margin-left: 10px;
            float: left;
            /*margin-left: 50px;*/
        }

        #wen .wenti .ming {
            font-size: 25px;
        }

        #wen .wenti .ul1 {
            margin-top: 15px;
            margin-right: 10px;
            float: left;
        }

        #wen .wenti ul li {
            margin-right: 10px;
            padding: 0px 4px;
            float: left;
        }

        #wen .wenti ul li:hover {
            background: #5fa70f;
            color: #fff;
        }

        #wen .wenti ul li a {
            color: #5fa70f;
        }

        #wen .wenti ul li a:hover {
            text-decoration: none;
            color: #fff;
        }

        #wen .wenti .zuozhe {
            margin-top: 15px;
            float: left;
            color: #666;
        }

        #wen .wenti .zuozhe .zuoname {
            color: #5fa70f;
        }

        /*@media (min-width: 992px) {
            .col-md-3 {
                width: 25%;
            }
        }*/

        @media (min-width: 992px) {
            .col-md-1,
            .col-md-2,
            .col-md-3,
            .col-md-4,
            .col-md-5,
            .col-md-6,
            .col-md-7,
            .col-md-8,
            .col-md-9,
            .col-md-10,
            .col-md-11,
            .col-md-12 {
                float: left;
            }
        }

        #guanzhu {
            height: 80px;
            margin-top: 20px;
        }

        #guanzhu ul li {
            margin-bottom: 10px;
        }

        #guanzhu ul li .btn1 {
            width: 55px;
            height: 30px;
            border: 1px solid #5fa70f;
            background-color: #fff;
            color: #666;
            border-radius: 2px;
            margin-right: 10px;
        }

        #guanzhu ul li .btn1:hover {
            background-color: #5fa70f;
            color: #fff;
        }

        .neirong {
            widht: 100%;
            /*height: 500px;*/
            margin-left: 20px;
            margin-top: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #5fa70f;
            /*background: lightyellow;*/
            position: relative;
        }

        .neirong .s1{
          width:72px;
          height:20px;
          border-radius: 3px;
          border: 1px solid #666;
          display: inline-block;
          text-align: center;
          background-color: #5fa70f;
          color: #fff;
          display: none;
        }
        .neirong #span3{
          position: absolute;;
          left:0px;
          top:-24px;
          z-index: 3;
        }

        .neirong #span4{
          position: absolute;;
          left:0px;
          top:65px;
        }
          .huida .s1{
            width:72px;
            height:20px;
            /*padding: 3px;*/
            border-radius: 3px;
            border: 1px solid #000;
            display: inline-block;
            text-align: center;
            display: none;
          }

          .huida #span1{
            position: absolute;;
            left:0px;
            top:40px;
            /*z-index: 3;*/
          }

          .huida #span2{
            position: absolute;;
            left:0px;
            top:130px;
            z-index: 5;
          }
        .neirong .zang {
            float: left;
            width: 42px;
            height: 62px;
            border: 1px solid #5fa70f;
            border-radius: 4px;
            background-color: #f4f4f4;
        }

        .neirong .zang .dian {
            width: 40px;
            height: 20px;
            border: none;
            border-radius: 4px;
            background-color: #f3f3f3;
        }

        .neirong .zang .dian:hover {
            background-color: #5fa70f;
            border-radius: 3px;
        }

        .neirong .zang .span1 {
            width: 40px;
            height: 20px;
            display: inline-block;
            text-align: center;
        }

        .neirong .text {
            width: 88%;
            /*height: 500px;*/
            float: right;
            /*background: red;*/
        }

        .neirong .text .top {
            width: 100%;
            font-size: 16px;
            margin: 10px;
        }

        .neirong .text .bottom {
            width: 100%;
            margin-top: 20px;
        }

        .neirong .text .bottom .ul1 {
            float: left;
        }

        .neirong .text .bottom .ul1 li {
            float: left;
            margin-right: 10px;
        }

        .neirong .text .bottom .ul1 li a {
            color: #666;
        }

        .neirong .text .bottom .ul2 {
            float: left;
            margin-top: -6px;
        }

        .neirong .text .bottom .ul2 .btn {
            height: 30px;
            border: none;
            color: #666;
        }

        .neirong .text .bottom .ul2 .btn:hover {
            background-color: #5fa70f;
            color: #fff;
        }

        .neirong .text .bottom .cai {
            float: right;
        }

        .neirong .text .bottom .ul3 {
            float: right;
            height: 30px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            line-height: 30px;
            border: 1px solid #5fa70f;
            border-radius: 3px;
            background-color: #f4f4f4;
        }

        .neirong .text .bottom .ul4 .name {
            float: right;
            border: none;
            height: 30px;
            line-height: 30px;
            margin-right: 10px;
            background-color: #fff;
        }

        .neirong .text .bottom .ul4 .name a {
            color: #5fa70f;
        }
        .neirong .text .bottom .ul4 .name span{
          font-size: 12px;
          color: #666;
          position: relative;
          top:-16px;
          left:0px;
        }
        .neirong .text .bottom .ul4 .img {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #666;
            border-radius: 50%;
            border: 1px solid #5fa70f;
            float: right;
            margin-right: 5px;
        }

        .neirong .text .bottom .cai {
            border: 1px solid #5fa70f;
        }

        .neirong .text .bottom .cai:hover {
            background-color: #5fa70f;
            color: #fff;
        }

        .zhongbu {
            width: 88%;
            float: right;
            margin-top: 40px;
            border-bottom: 2px solid #5fa70f;
        }

        .zhongbu .sp1 {
            font-size: 16px;
        }

        .zhongbu .sp2 {
            float: right;
        }

        .zhongbu .sp2 .btn:hover {
            background-color: #5fa70f;
            color: #fff;
        }

        .mehuida {
            margin-top: 20px;
            width:88%;

            float: right;
        }
          .mehuida .form1 .text1{
            height:200px;
          }

        .mehuida .form1 .btnn1 {
            float: right;
            margin-top: 5px;
            border: 1px solid #5fa70f;
        }

        .mehuida .form1 .btnn1:hover {
            color: #fff;
            background-color: #5fa70f;
        }

        .two-right {
            margin-top: 10px;
            /*height: 500px;*/
            border-radius: 3px;
            /*background: #5fa70f;*/
            border: 2px solid #5fa70f;
            /*float: right;*/
        }
        .two-right .like{
          width:100%;
          padding: 5px;
        }
        .two-right .like a img{
          width:100%;
          height:200px;
          display: inline-block;
        }

        .two-right ul li a {
            color: #333;
        }

        .two-right ul li a:hover {
            color: #5fa70f;
        }
        .two-right .gg a{
          font-size: 12px;
        }

        .two-right .gg a #sp1 {
            float: right;
        }
        .two-left .help{
          width:88%;
          /*height:200px;*/
          border-radius: 3px;
          float: right;
          margin-top: 10px;
          border: 1px dashed lightgray;
          background-color: #f6f6f6;
        }
        .two-left .help .top{
          margin: 5px;
          height:40px;
          border-bottom:1px dashed lightgray
        }
        .two-left .help .top .btn{
          height:30px;
        }
        .two-left .help .top .refresh{
          float: right;
          color: #5fa70f;
          margin-top: 4px;
        }
        .row .asd{
          margin:10px 0px;
        }
        .row .asd .name{
          float: left;
          font-size: 14px;

        }
        .row .asd .name span{
          color:#666;
        }
        .row .asd .img{
          float: left;
          width:40px;
          height:40px;
          text-align: center;
          line-height: 40px;
          border: 1px solid #5fa70f;
          border-radius: 50%;
          margin: 0px 5px;
        }
        .row .asd .btn{
          float: right;
          height:30px;
          width:65px;
          line-height: 30px;
          padding: 0px;
          margin-right: 3px;
        }
    </style>
</head>

<body>
    <div class="pbname">
      <!-- 问题题目及关注收藏区域 -->
        <div class="container">
            <div class="row">
                <div id="wen" class="col-md-9 col-sm-8 col-xs-12">
                    <span id="asd">问</span>
                    <div class="wenti ">
                        <h1 class="ming"> 请教一个关于Chats的问题</h1>
                        <ul class="ul1">
                            <li class="li1"><a href="#">javascript</a></li>
                            <li class="li1"><a href="#">Charts</a></li>
                        </ul>
                        <div class="zuozhe">
                            <a href="#" class="zuoname">lisi</a>
                            <span class="zuotime">刚刚提问</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs" id="guanzhu">
                    <ul class="ul2">
                        <li><button type="button" class="btn btn-success btn1">关注</button><strong>0</strong>关注</li>
                        <li><button type="button" class="btn btn-success btn1">收藏</button><strong>0</strong>收藏,<strong>0</strong>浏览</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
      <!-- 主题内容区域 -->
        <div class="two">
            <div class="row">
              <!-- 左侧问题内容及回答区域 -->
                <div class="two-left col-xs-12 col-md-9 clearfix">
                  <!-- 问题具体内容 -->
                    <div class="neirong clearfix">
                      <span class="s1" id="span3" >问题很棒！</span>
                      <span class="s1" id="span4">问题太水！</span>
                        <div class="zang">
                            <button id="dian3" class="dian" type="button" name="button"><strong>+</strong></button>
                            <span class="span1">0</span>
                            <button id="dian4" class="dian" type="button" name="button"><strong>-</strong></button>
                        </div>
                        <div class="text">
                            <div class="top">
                                这是什么鬼！大航海发好该很健康的发哈介绍萨达积分和急啊士大夫及喝酒啊可恢复集合接口哈飞及环境卡萨动画急啊多说机卡
                            </div>
                            <div class="bottom">
                                <ul class="ul1">
                                    <li><a href="#"><span>5天前提问</span></a></li>
                                    <li><a href="#">评论</a>
                                        <li><a href="#">邀请回答</a></li>
                                        <li><a href="#">编辑</a></li>
                                </ul>
                                <div class="dropdown ul2">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      更多
                                      <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">举报</a></li>
                                        <li><a href="#">关闭</a></li>
                                        <!-- <li role="separator" class="divider"></li> -->
                                    </ul>
                                </div>
                                <div class="ul3 hidden-xs">
                                    <span class="hidden-xs">未解决</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zhongbu clearfix">
                        <span class="sp1">1个回答</span>
                        <div class="btn-group sp2" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">默认排序</button>
                            <button type="button" class="btn btn-default">时间排序</button>
                        </div>
                    </div>
                    <!-- 回答区域 -->
                    <div class="huida neirong clearfix">
                        <span class="s1" id="span1" >回答很棒！</span>
                        <span class="s1" id="span2">回答太水！</span>
                        <div class="zang">
                            <button id="dian1" class="dian" type="button" name="button"><strong>+</strong></button>
                            <span class="span1">0</span>
                            <button id="dian2"  class="dian" type="button" name="button"><strong>-</strong></button>
                        </div>

                        <div class="text">
                            <div class="top">
                                这是什么鬼！大航海发好该很健康的发哈介绍萨达积分和急啊士大夫及喝酒啊可恢复集合接口哈飞及环境卡萨动画急啊多说机卡
                            </div>
                            <div class="bottom">
                                <ul class="ul1">
                                    <li><a href="#"><span>5天前回答</span></a></li>
                                    <li><a href="#">评论</a>
                                        <li><a href="#">编辑</a></li>
                                </ul>
                                <div class="dropdown ul2">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    更多
                                    <span class="caret"></span>
                                  </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">举报</a></li>
                                        <li><a href="#">关闭</a></li>
                                        <!-- <li role="separator" class="divider"></li> -->
                                    </ul>
                                </div>

                                <a class="btn btn-default cai hidden-xs" href="#" role="button">点击采纳</a>
                                <div class="ul4">
                                    <div class="name">
                                        <a href="#">燕赤侠</a><br>
                                        <span>222点声望</span>
                                    </div>
                                    <div class="img hidden-xs">???
                                        <img src="" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div
                      </div>
                    </div>
                    <!-- 自己回答区域 -->
                    <div class="mehuida clearfix">
                            <h4>撰写答案</h4>
                            <form class="form1" action="" method="post">
                                <textarea class="form-control text1" rows="3"></textarea>
                                <button　 type="button" class="btn btn-default btnn1">确认提交</button>
                            </form>
                    </div>
                    <!-- 找帮手 -->
                    <div class="help">
                      <div class="top">
                        <span>不知道答案？你还可以</span>
                        <a class="btn btn-default" href="#" role="button">邀请回答</a>
                        <a href="#" class="refresh"><i class="fa fa-refresh" aria-hidden="true"></i>换一组</a>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6 ul4 asd">
                              <div class="img">???
                                  <img src="" alt="" />
                              </div>
                              <div class="name">
                                  <a href="#">燕赤侠</a><br>
                                  <span>javascript标签下有40个回答</span>
                              </div>
                              <a class="btn btn-default" href="#" role="button">邀请回答</a>
                        </div>
                        <div class="col-xs-12 col-md-6 ul4 asd">
                          <div class="img">???
                              <img src="" alt="" />
                          </div>
                          <div class="name">
                              <a href="#">燕赤侠</a><br>
                              <span>javascript标签下有40个回答</span>
                          </div>
                          <a class="btn btn-default" href="#" role="button">邀请回答</a>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12 col-md-6 ul4 asd">
                              <div class="img">???
                                  <img src="" alt="" />
                              </div>
                              <div class="name">
                                  <a href="#">燕赤侠</a><br>
                                  <span>javascript标签下有40个回答</span>
                              </div>
                              <a class="btn btn-default" href="#" role="button">邀请回答</a>
                        </div>
                        <div class="col-xs-12 col-md-6 ul4 asd">
                          <div class="img">???
                              <img src="" alt="" />
                          </div>
                          <div class="name">
                              <a href="#">燕赤侠</a><br>
                              <span>javascript标签下有40个回答</span>
                          </div>
                          <a class="btn btn-default" href="#" role="button">邀请回答</a>

                        </div>
                      </div>
                    </div>
               </div>
               <!-- 右侧热门问题及相似问题列表 -->
               <div class="two-right col-xs-12 col-md-3 hidden-xs clearfix">
                         <div class="like">
                           <a href="#"><img src="../public/images/bb.gif" alt="" /></a>
                         </div>
                        <h3>热门问题排行</h3>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">14</span> <a href="#">明天要放假！</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge">7</span> <a href="#">明天又得上课！</a>
                            </li>
                            <li class="list-group-item">
                                <span class="badge">2</span><a href="">明天还得敲代码！！！</a>
                            </li>
                        </ul>
                        <h3>相似问题</h3>
                        <div class="list-group gg">
                            <a href="#" class="list-group-item">中午吃什么！<span id="sp1">10个回答|未解决</span></a>
                            <a href="#" class="list-group-item">晚上吃什么！<span id="sp1">8个回答|已解决</span></a>
                            <a href="#" class="list-group-item">都是什么鬼<span id="sp1">15个回答|未解决</span></a>
                            <a href="#" class="list-group-item">明天放假吗！<span id="sp1">2个回答|未解决</span></a>
                        </div>

                    </div>
            </div>
        </div>
        <script type="text/javascript">
          $(function(){
            $(".zang #dian1").hover(function(){
              $("#span1").show();
            },function(){
              $("#span1").hide();
            });
            $(".zang #dian2").hover(function(){
              $("#span2").show();
            },function(){
              $("#span2").hide();
            });
            $(".zang #dian3").hover(function(){
              $("#span3").show();
            },function(){
              $("#span3").hide();
            });
            $(".zang #dian4").hover(function(){
              $("#span4").show();
            },function(){
              $("#span4").hide();
            });
          });
        </script>
</body>

</html>
