
.top{
  height: 100px;

}
.info_banner{
  margin: 0 !important;
  width: 100%;
  height: 300px;
  background: #5fa70f;
  display: flex;
  position: relative;
  color: #fff;
}
.info_portrait p{
  font-size: 40px;
  text-align: center;
  display: block;
  width: 80%;
  min-width: 200px;
}
.portrait{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #999;
  border: 5px #fff solid;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.form-control{
  margin-top: -6px;
}
.edit_sub{
  position: absolute;
  right: -60px;
  top: -6px;
}
.info_edit{
  float: right;
  position: absolute;
  top: 40px;
  right: 0;
  display: none;;
  width: 250px;

}
.file_portrait{
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 200px;
  margin: auto;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.file_portrait_div{
  background: #000;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 200px;
  margin: auto;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
.file_hid{
  display: none;
}
.info_portrait{
  height: 300px;
  display: inline-block;

}
.info_file{
  /*width: 80%;*/
  height: 100%;
  display: flex;
  float: right;
  position: relative;

  /*background: #eee;*/
}
.info_title{
  align-items: center;
  color: #fff;
}
.see_file{
  text-decoration: none;
  position: relative;
  top: 32px;
  margin-left: 20px;
  height: 18px;
}
.see_file a{
  color: #fff;
}
.see_file a:hover{
  text-decoration: none;
  color: #333;
}
.write_info{
  width: 400px;
  position: absolute;
  bottom: 0;
  height: 200px;
  /*background: #999;*/
  color: #fff;
}
.prestige{
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background: #ff0;
  border: 2px #fff solid;
  color: #5fa70f;
  font-size: 22px;
  padding-left: 5px;
  padding-top: 3px;
  display:inline-block;
}
.write_info i{
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  margin: 10px;
}
.info_summary{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 40%;
  background: #eee;
  /*opacity:0.5;*/
}
.jianjie{
  width: 100%;
  height: 20px;
  background: #595;
  opacity:1;

}
.jianjie span{
  color: #fff;
  font-size: 30px;
  position: relative;
  top: -43px;
  opacity:1;
}
.jianjie p{
  position: relative;
  top: 5px;
  left: 15px;
}
.jianjie a{
  color: #fff;
  position: relative;
  top: -15px;
  left:200px;
  cursor: pointer;
}
.jianjie a:hover{
  text-decoration: none;
  color: #333;
}
.jianjie_form{
  display: none;
}
.jianjie_edit{
  position: absolute;
  top: 30px;
}
.jianjie_sub{
  position: absolute;
  right:-60px;
  top: 30px;
}
.leftSidebar{
  /*height: 600px;*/
  /*width: 250px;*/
  /*background: #999;*/
  display: inline-block;
}
.body{
  height: 1067px;;
  /*width: 500px;*/
  background: #595;
  color: #fff;
  opacity:.5;
  display: none;
  font-size: 50px;
  text-align: center;
  margin-top: 9px;
}
.right_info{
  height: 600px;
  /*width: 250px;*/
  /*background: #999;*/
  display: inline-block;
}
.right_info div{
  margin-top: 9px;
}
.right_info div p{
  text-align: center;
  font-size: 24px;
  position: relative;
  top: 20px;
  color: #333;
}
.right_info div span{
  margin: 20px;
  padding: 1px;
  display: block;
}
.hemo ul{
  list-style-type: none;
  padding: 0;
}
.hemo ul li{
  padding: 20px;
  font-size: 18px;
  color: #333;
  margin-top: 9px;
  text-align: center;
  border-left: 10px #5fa70f solid;
  background-color: rgba(0, 255, 0, 0.1);
}
.hemo ul li:hover{
  color: #fff;
  background-color: #5fa70f;
  border-left: 10px #ff0 solid;
}
.skill{
  height: 205px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
  /*opacity:.1;*/
  float: right;
}
.project{
  height: 205px;
  width: 100%;
  background-color: rgba(0, 255, 0, 0.1);
  /*opacity:.1;*/
  float: right;
}
.share{
  height: 205px;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.1);
  /*opacity:.1;*/
  float: right;
}
.Interest{
  height: 205px;
  width: 100%;
  background-color: rgba(225, 0, 255, 0.1);
  /*opacity:.1;*/
  float: right;
}
.Footprints{
  height: 205px;
  width: 100%;
  background-color: rgba(225, 255, 0, 0.1);
  /*opacity:.1;*/
  float: right;
}
.homepage{
  background:rgba(100, 100, 100, 0.5);
  width: 95%;
  margin: auto;
  height: 290px;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px #333 solid;
  background: #eee;
  overflow: hidden;
}
.homepage p{
  background: rgba(0, 255, 0, 0.1);
  color: #333;

}
