.head{
  padding-top:60px;
}
.head a{
  color:#4BB45B;
  font-size: 1.5em;
}
.head a:hover{
  text-decoration: none;
  color:#369A45;
}
.head h2{
  font-size:1.3em;
}
.body{
  margin-top:20px;
}
.body-title span{
  display: inline-block;
  font-size:1.3em;
  padding:10px 5px 10px 5px;
  margin-left:15px;
  cursor: pointer;
  border-bottom:2px solid transparent;
}
.body-title span:first-child{
  margin:0;
}
.body-title span.active{
  border-color:#4BB45B;
  color:#4BB45B;
}
.body-input{
  padding:12px;
  padding-top: 35px;
}
.body-input .input-group{
  margin-bottom:25px;
  position: relative;
}
.body-input .input-group .input-group-addon{
  background:#fff;
}
.body-input .input-group .input-group-addon i{
  color:#4BB45B;
}
.body-input .input-group input:focus{
  box-shadow:none;
  border-color:#ddd;
}
.body-input label{
  color:#D65D51;
  position: absolute;
  z-index:9;
  top:7px;
  right:8px;
  font-weight: 300;
  display: none;
}
.body-input label.check-label{
  right:80px;
}
.sub-btn-box{
  width:100%;
}
.sub-btn-box input{
  width:100%;
  outline: none;
  color:#fff;
  background:#4BB45B;
  font-size:1.2em;
  font-weight:bold;
}
.sub-btn-box input:hover{
  color:#fff;
  background:#388D45;
}
.sub-btn-box input:focus,.sub-btn-box input:active:focus{
  outline: none;
  background:#327A3D;
}
.sub-btn-box input:active{
  box-shadow: none;
}
input[name=check]{
  border-right:0;
}
.check-show{
  font-size:1.3em;
  letter-spacing: 4px;
  cursor: pointer;
}
.sign-input{
  display:none;
}
input[type=submit]:focus{
  color:#fff;
}
