li{
  list-style: none;
}
a{
  color:#4BB45B;
}
.container a:hover{
  text-decoration: none;
  color:#03f;
}
  #bin{
    width:100%;
    height:72px;
    position:relative;
    background: #F6F6F6;
  }
  #text{
    position: absolute;
    left:260px;
    top:25px;
  }
  .mt30{
    margin-top:30px !important;
  }
  .mt30 a:hover{
    color:#4BB45B;
  }
  .h3{
    font-size:24px;
  }
  .h4{
    font-size:18px;
  }
  .input-sm{
    width:160px;
    position:absolute;
    left:30px;
    top:20px;
  }
  .btn{
    position:absolute;
    left:200px;
    top:20px;
  }
  .tag-list_itemheader{
    border-bottom: 1px solid #EEE;
    margin: 0;
    line-height: 32px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  .list-inline{
    padding: 20px 0;
    margin-bottom: 0;
  }
  .list-inline .tagPopup{
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .list-inline>li{
    padding-right: 0px;
  }
  .tag{
    display: inline-block;
    padding: 0 8px;
    color: #4BB45B;
    background-color:rgba(1,126,102,0.08);
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
  }
  a.tag:hover{
    background: #4BB45B;
    color:#fff;
  }
  .media{
    border-radius:3px;
    padding:10px;
    margin-bottom:15px;
  }
  .border{
    border:1px solid #DDD;
  }
  .text-muted{
    white-space:nowrap;
    height:21px;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .mb0{
    margin-bottom:0px !important;
  }
  .media-body, .media-left, .media-right{
    margin-top:10px;
    display: inline-block;
  }
  .media-body a{
    color:#4BB45B;
  }
  .media-body a:hover{
    color:#4BB45B;
    text-decoration: underline;
  }
